
<head>

  <script>
    function validateForm() {
      var x = document.forms["patientForm"]["name"].value;
      if (x == "") {
        alert("Name must be filled out");
        return false;
      }
    }
  </script>


</head>
<div *ngFor="let p of patient ">
  {{p.name}} || {{p.age}} || {{p.dateOfBirth}} || {{p.address}} || {{p.contactNumber}}
  {{p. prescriptionNo}} || {{p. prescriptionDetails}}
  {{p.checkedBy}} || {{p.date}}
<!--  <button (click)="deletePatient(p._id)" >Delete</button>-->


</div>

<br>
<br>
<div >
  <p>.......................About Patient..........................</p>
  Name :
  <input type="text" name="name" [(ngModel)]="submitData.name">
  <br><br>
  Age :
  <input type="number" name="age" [(ngModel)]="submitData.age">
  <br><br>
  Date of Birth :
  <input type="date" name="dateOfBirth" [(ngModel)]="submitData.dateOfBirth">
  <br><br>
  Address :
  <input type="text" name="address" [(ngModel)]="submitData.address">
  <br><br>
  contact Number :
  <input type="number" name="contactNumber" [(ngModel)]="submitData.contactNumber">
  <br><br>
  <p>........................About Prescription...................</p>
  <br><br>
  Prescription Number :
  <input type="text" name="prescriptionNo" [(ngModel)]="submitData.prescriptionNo">
  <br><br>
  Prescription Details:
  <input type="text" name="prescriptionDetails" [(ngModel)]="submitData.prescriptionDetails">
  <br><br>
  <p>........................Office Details...................</p>
  <br><br>
  Checked by:
  <select>
    <option [(ngModel)]="submitData.checkedBy" value="volvo">Volvo</option>
    <option [(ngModel)]="submitData.checkedBy" value="saab">Saab</option>
    <option [(ngModel)]="submitData.checkedBy" value="opel">Opel</option>
    <option [(ngModel)]="submitData.checkedBy" value="audi">Audi</option>
  </select>
  <br><br>
  Date:
  <input type="date" name="date" [(ngModel)]="submitData. date">
  <br><br>
  <br><br>
  <button (click)="submitPatient()">SUBMIT</button>
</div>

